* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  background-color: gainsboro;
}

.header {
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
}

.header h2, h2 {
  margin-top: 20px;
  color: rebeccapurple;
  text-align: center;
}

table {
  margin: 0 auto;
  line-height: 1.5;
  border-collapse: collapse;
  border: 2px solid rebeccapurple;
}

thead {
  border: 2px solid rebeccapurple;
}

table thead tr {
  background-color: plum;
}

table tr {
  border: 1px solid plum;
}

.code{
    background-color: white;
}
 #tag{
    width: 70px;
 }
 #name{
    width: 120px;
 }

 #desc{
    width: 500px;
 }